@font-face {
    font-family: 'VictorianStdRegular';
    src: url(../fonts/VictorianStdRegular.otf) format('opentype');
    font-weight: normal;
}

@font-face {
    font-family: 'LemonMilk';
    src: url(../fonts/LEMONMILK-Medium.otf) format('opentype');
    font-weight: normal;
}

body{
    margin: 0;
    background: linear-gradient(135deg, #02020255 25%, transparent 25%) -40px 0/ 80px 80px, linear-gradient(225deg, #020202 25%, transparent 25%) -40px 0/ 80px 80px, linear-gradient(315deg, #02020255 25%, transparent 25%) 0px 0/ 80px 80px, linear-gradient(45deg, #020202 25%, #000000 25%) 0px 0/ 80px 80px;
    height: 100%;
    width: 100%;
}

/* header */

div.fundoHeader{
    width: 100%;
    height: 200px;
    background-color: #000000;
}
  
div.imgHEADER{
    float: left;
    margin-left: 20px;
    padding-top: 30px;
}

.titleHEADER{
    padding-top: 40px;
    float: left;
    color: white;
    vertical-align: middle;
}

.fundo{
    /*overflow: hidden;*/
    display: flex;
    margin: 150px;
    justify-content: space-between;
}

.box {
    width: 50%;
    padding: 20px;
    box-sizing: border-box;
}

.cifra{
    float: left;
    width: 50%;
}

.link{
    padding-top: 185px;
    float: left;
    width: 50%;
    display: flex;
    justify-content: center;
    position: sticky;
    padding-bottom: 30px;
    top: 0;

}

@media screen and (max-width: 910px) {
    .fundo {
        flex-direction: column; /* Muda a direção do flex para coluna quando a largura da tela for 600px ou menos */
    }

    .box {
        width: 100%;
    }
}

.link iframe {
    position: sticky;
    top: 200px;
}

.title{
    color: white;
    font-family: 'VictorianStdRegular', sans-serif;
    font-size: 50px; 
}

.letras{
    color: white;
    font-size: 30px;
    line-height: 40px;
}

hr.style-two {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0));
}

.icon-container {
    display: flex;
    justify-content: flex-end;
}

.gray-svg {
    max-width: 100%;
    padding: 0;
    margin: 0;
}

.footerDATE{
    height: 60px;
    width: 100%;
    background-color: #111111;
    color: white;
    font-family: 'LemonMilk', sans-serif;
}