@font-face {
    font-family: 'VictorianStdRegular';
    src: url(../fonts/VictorianStdRegular.otf) format('opentype');
    font-weight: normal;
}

@font-face {
    font-family: 'LemonMilk';
    src: url(../fonts/LEMONMILK-Medium.otf) format('opentype');
    font-weight: normal;
}

body{
    margin: 0;
    background-color: black;
    height: 100%;
    width: 100%;
}

div.backgroundHEADER {
    position: sticky;
    z-index: 1000;
    width: 100%;
    background-color: black;
}

div.imgHEADER{
    margin-top: 10px;
    margin-left: 10px;
    float: left;
}

div.titleHEADER{
    color: white;
    float: left;
    margin-left: 30px;
}

nav.navHEADER{
    float: right;
    margin-right: 40px;
    margin-top: 15px;
}

li.liNAV_HEADER{
    font-family: sans-serif;
    float: left;
    color: white;
    font-size: 1.1em;
}

.liNAV_HEADER a {
    text-decoration: none;
    color: white;
    transition: opacity 0.6s; 
}

.liNAV_HEADER a:hover {
    opacity: 0.5; 
}

#nav_el{
    border-right: solid white 2px;
    margin-right: 35px;
}

#nav_el a{
    margin-right: 35px;
}

#nav_MUSICA {
    padding-bottom: 25px;
    position: relative;

}

.aHOME{
    pointer-events: none;
}

.textDIV{
    color: white;
    margin-left: 20%;
    width: 60%;
    text-align: center;
    overflow-wrap: break-word;
}

.textDIV2{
    color: white;
    margin-left: 20%;
    width: 60%;
    overflow-wrap: break-word;
}

h1.h1TITULOS_MAIN{
    color: white;
    padding-top: 77px;
    font-weight: normal;
    font-family: 'VictorianStdRegular', sans-serif;
    letter-spacing: 3px;
}

.h1HISTORIA{
    font-size: 2.7em;
}

.pHISTORIA{
    font-size: 1.4em;
}

div.imagesART{
    width: 90%;
    margin-left: 5%;
    text-align: center;
}

.imgARTISTAS{
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 20px;
}

form{
    border: 1px solid white;
    width: 100%;
}

label{
    margin-left: 2%;
    font-family: sans-serif;
    font-size: 20px;
    
}

input{
    margin-left: 2%;
    height: 30px;
}

.largura-estendida {
    width: 60%; /* Ajuste o valor conforme necessário */
}

textarea{
    margin-left: 2%;
}

.footerDATE{
    height: 60px;
    width: 100%;
    background-color: black;
    color: white;
    font-family: 'LemonMilk', sans-serif;
}

*{
    box-sizing: border-box;

}
body{
    font-family: verdan,sans-serif;
}

.mySlides{

    display: none;
}

img{
    vertical-align:middle
}

.slideshow{
        max-width: 60%;
        position: relative;
        margin: auto;
        margin-top: 10%;
}

.prev, .next{
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next{
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover{
    background-color: rgba(0,0,0,0.8);
}
.text{
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    width: 100%;
}

.dot{
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #636262;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 2s ease;
}

.active, .dot:hover{
    background-color: #ffffff;
}

.submenuMusica{
    position: absolute;
    top : 100%;
    right: 0%;
    /*display : none;*/
}

.musica{
    color: white;
    background-color: black;
    padding: 20px;
    border-bottom: #ffffff solid 1px;
    width: 150%;
}